.wrapper {
    height: 100vh;
    background-color: #191718;
    .nav__bar {
        width: var(--header-width);
    }
    .nav__list-item {
        padding: 10px;
        text-align: left;

        border-bottom: solid 0.5px #c7c5c5;
        color: #fff;
        font-weight: 700;
        font-size: 1.6rem;

        cursor: pointer;
        &:hover {
            background-color: #5c5c5c;
        }
    }
}
@media (max-width: 1080px) and (min-width: 820px) {
}
