.wrapper {
    text-align: left;
    max-width: calc((var(--content-width) - 100px) / 3);
    .content {
        overflow: auto;
        img {
            float: left;
        }
        span {
            font-size: 1.6rem;
            line-height: 1.2;
        }
    }
}
.wrapper ~ .wrapper {
    margin: 0 50px;
}
.wrapper + .wrapper ~ .wrapper {
    margin: 0 0;
}
